<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>filter app</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>

<body>
	<div ng-controller="myController">
		<p>
            Filter Text : <input type="text" ng-model="filterText" placeholder="filter here">
        </p>
        <p>{{arry.length}} total rows</p>
        <hr>
        <div ng-repeat="x in arry|filter:filterText">
        	<div>{{x.name}}</div>
        	<div>{{x.job}}</div>
        	<div>{{x.status}}</div>
        </div>
        <hr>
	</div>
 	
    <script src="js/app.js"></script>
    <script src="js/mainController.js"></script>
</body>

</html>
